
.vs/BNL_Fruits_Assessment/config/applicationhost.config
.vs/BNL_Fruits_Assessment/DesignTimeBuild/.dtbcache.v2
.vs/BNL_Fruits_Assessment/FileContentIndex/2e51bd8b-5b45-4de4-bbe0-0c390244ae0e.vsidx
.vs/BNL_Fruits_Assessment/FileContentIndex/388578a3-9807-4afa-a187-425d6b53826e.vsidx
.vs/BNL_Fruits_Assessment/FileContentIndex/537cc0fc-1fa9-4a69-ab8f-16fab10e99a1.vsidx
.vs/BNL_Fruits_Assessment/FileContentIndex/9a0f9a38-414f-4b10-9d67-575dbe340a33.vsidx
.vs/BNL_Fruits_Assessment/FileContentIndex/c44ed674-c0a5-4e56-82cc-b0d18ef8d15e.vsidx
.vs/BNL_Fruits_Assessment/v17/.futdcache.v2
.vs/BNL_Fruits_Assessment/v17/.suo
.vs/BNL_Fruits_Assessment/v17/DocumentLayout.json
.vs/ProjectEvaluation/bnl_fruits_assessment.metadata.v7.bin
.vs/ProjectEvaluation/bnl_fruits_assessment.projects.v7.bin
BNL_Fruits_Assessment/bin
/.vs
/BNL_Fruits_Assessment/obj
